## Model Training to test [????????????]
---

In [3]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [4]:
clean_cc_data = pd.read_csv('dataset_ClimateChange/Cleaned_ClimateData.csv')
clean_cc_data.head()

,Country code,Country name,Year,EnergyUse_perCapita,CO2_Emissions,GDP,Population
0,AGO,Angola,1990,569.242999,4429.736,1.026019e+10,10335052.0
1,AGO,Angola,1991,565.451027,4367.397,1.219375e+10,10653515.0
2,AGO,Angola,1992,550.548264,4418.735,5.779394e+09,11002910.0
3,AGO,Angola,1993,551.688878,5801.194,5.285600e+09,11371750.0
4,AGO,Angola,1994,541.553067,3890.687,4.059577e+09,11742960.0